<?xml version="1.0" encoding="utf-8"?>
<framework-data>
  <options>
    <option id="com.atmel.avr.sf.xmegaa.common.boards" value="true" />
  </options>
  <files>
    <file path="src/asf/xmega/utils/preprocessor/tpaste.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/preprocessor/tpaste.h" changed="False" />
    <file path="src/main.c" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="common/applications/user_application/main.c" changed="False" />
    <file path="src/asf/common/utils/interrupt/interrupt_avr8.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="common/utils/interrupt/interrupt_avr8.h" changed="False" />
    <file path="src/asf/xmega/utils/status_codes.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/status_codes.h" changed="False" />
    <file path="src/asf/xmega/utils/parts.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/parts.h" changed="False" />
    <file path="src/asf/common/utils/interrupt.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="common/utils/interrupt.h" changed="False" />
    <file path="src/asf/xmega/utils/assembler/gas.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/assembler/gas.h" changed="False" />
    <file path="src/asf/common/boards/user_board/init.c" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="common/boards/user_board/init.c" changed="False" />
    <file path="src/asf/xmega/utils/compiler.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/compiler.h" changed="False" />
    <file path="src/config/conf_board.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="common/applications/user_application/user_board/conf_board.h" changed="False" />
    <file path="src/asf/xmega/utils/progmem.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/progmem.h" changed="False" />
    <file path="src/asf/common/boards/board.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="common/boards/board.h" changed="False" />
    <file path="src/asf/common/boards/user_board/user_board.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="common/boards/user_board/user_board.h" changed="False" />
    <file path="src/asf/xmega/utils/bit_handling/clz_ctz.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/bit_handling/clz_ctz.h" changed="False" />
    <file path="src/asf.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="./common/applications/user_application/user_board/as5_8_template/asf.h" changed="False" />
    <file path="src/asf/xmega/utils/preprocessor/stringz.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/preprocessor/stringz.h" changed="False" />
    <file path="src/asf/xmega/utils/assembler.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/assembler.h" changed="False" />
    <file path="src/asf/xmega/utils/preprocessor/mrepeat.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/preprocessor/mrepeat.h" changed="False" />
    <file path="src/asf/xmega/utils/preprocessor/preprocessor.h" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="xmega/utils/preprocessor/preprocessor.h" changed="False" />
    <file path="src/asf/common/utils/make/Makefile.avr.in" framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" source="common/utils/make/Makefile.avr.in" changed="False" />
  </files>
  <documentation help="http://asf.atmel.com/docs/2.5.1/common/applications/user_application/user_board/doxygen/html/" />
</framework-data>